@using Blazor.Extensions.WebUSB
@using Microsoft.AspNetCore.Components
@inject IUSB usb

    <p>Device count: @deviceCnt</p>
    <button class="btn btn-primary" @onclick="GetDeviceCount">List devices</button>

@code {
    [Inject] private IUSB _usb { get; set; }
    private int deviceCnt = 0;
    [Parameter]
    public string Data { get; set; } = string.Empty;


    private async Task GetDeviceCount()
    {
        await _usb.Initialize();
        var devices = await _usb.GetDevices();
        deviceCnt = devices.Count();
    }
 }   