@font-face {
    font-family: 'Roboto Flex';
    src: url(./assets/fonts/RobotoFlex-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #121212;
    color: #fff;
    font-size: 16px;
}

.primary-bg {
    background: #121212;
}

.primary-color {
    color: #195dc4;
}

a {
    text-decoration: underline;
    color: white;
}

a:link,
a:visited {
    color: white;
}

a:hover {
    color: white;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    justify-content: center;
}

.column {
    -ms-flex: 50%; /* IE10 */
    flex: 0 1 auto;
    margin: 30px;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.secondary {
    color: rgba(255, 255, 255, 0.6);
}

.error {
    color: #c41919;
}

.warning {
    color: rgb(255, 167, 38);
}

.alternate {
    color: grey;
}

.tertiary {
    color: #eee;
}

.text-input {
    border-radius: 4px 4px 0 0;
    padding: 12px;
    border: 1px solid grey;
    max-height: 44px;
    width: 100%;
    background: transparent;
    box-sizing: border-box;
    color: white;
}

.text-input:focus {
    outline: none;
}

.blink {
    animation: blinker 0.75s linear infinite;
    color: red;
    font-family: sans-serif;
}

/* alignments */
.align-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.align-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.align-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-4 {
    display: flex;
    flex-direction: column;
}

.align-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.align-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-7 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.align-8 {
    display: flex;
    justify-content: flex-end;
}

.align-9 {
    display: flex;
    align-items: center;
}

.align-10 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.align-11 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.align-12 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.align-13 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* paddings */
.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p30 {
    padding: 30px;
}

/* margins */
.mtb5 {
    margin: 5px 0;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.ml10 {
    margin-left: 10px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

/* font sizes*/
.fs16 {
    font-size: 16px;
}

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

.fs20 {
    font-size: 20px;
}

.fs22 {
    font-size: 22px;
}

.fs24 {
    font-size: 24px;
}

.fs28 {
    font-size: 28px;
}

.fs40 {
    font-size: 40px;
}

/* separators and borders */
.b0 {
    border: none;
}

.b1 {
    border: 1px solid #eee;
}

.b2 {
    border: 1px solid #195dc4;
}

.b3 {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.b4 {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* misc */
.link {
    cursor: pointer;
}

.center {
    text-align: center;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
