
@font-face {
    font-family: 'Roboto Flex';
    src: url(./assets/fonts/RobotoFlex-Regular.ttf) format('truetype');
  }

* {
    margin: 0;
    padding: 0;
}
  
  body {
    background: #121212;
    color: #fff;
    font-size: 16px;
}

a {
    text-decoration: underline;
}
a:link, a:visited {
    color: rgba(255, 255, 255, 0.6)
}
a:hover {
    color: '#fff'
}
.App {
    font-family: 'Roboto Flex', Roboto;
    min-height: 100vh; 
    display:flex; 
    flex-direction:column;;
}

