/* dashboard */

.left-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.right-col {
    width: 900px;
}

@media only screen and (max-width: 1100px)  {
    .left-col {
        width: 100%;
    }

    .right-col {
        width: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* connected midi section */
/* marginTop: 150, display: 'flex', alignItems: 'center', flexDirection: 'column' */

.connected-midi-container {
    margin-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.connected-midi-title {
    font-size: 34px;
}

.connected-midi-sub {
    margin:10px 30px;
    color: rgba(255, 255, 255, 0.6);
}

.connected-midi-device {
    margin-top: 30px;
    font-size: 20px;
}

.connected-midi-action-btn {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 250px;
}
