.midpoint-form input{
    background: #121212;
    border: none;
    margin: 30px 0 15px 0;
    padding-bottom: 10px;
    color: #fff;
    border-bottom: 1px #fff solid;
}

.midpoint-form input{ 
    color: #fff;
}

input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #121212 inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: #fff !important;
}