

  input {
    border-radius: 6px;
    margin-bottom: 6px;
    padding: 12px;
    border: 1px solid grey;
    max-height: 44px;
    font-size: 16px;
    width: 100%;
    background: white;
    box-sizing: border-box;
  }
  
  form {
    margin: 20px 0;
  }
  
  #card-error {
    color: rgb(105, 115, 134);
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    text-align: center;
  }
  
  #card-element {
    border-radius: 4px 4px 0 0;
    padding: 12px;
    border: 1px solid grey;
    max-height: 44px;
    width: 100%;
    background: transparent;
    box-sizing: border-box;
  }

  #promotion-ele {
    position: relative; 
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  #promotion-status {
    position: absolute;
    right: 2px;
    top: 15px;
  }

  #promotion-applied {
    position: absolute;
    top: 30px;
    right: 5px;
  }
